BankApplication/BankApplication/Service References/BankAppServiceReference/BankWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Musteri" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Musteri">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MusteriID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TcNumarasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyadi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerResult" type="tns:Musteri" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Musteri" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCustomerResponse">
        <s:complexType />
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TcNumarasi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenAccountResult" type="tns:Hesap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Hesap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HesapID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HesapNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Bakiye" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOpen" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MusteriID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CloseAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hesapNumarasi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAccountsResult" type="tns:ArrayOfHesap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHesap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hesap" nillable="true" type="tns:Hesap" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendTransfer">
        <s:complexType />
      </s:element>
      <s:element name="SendTransferResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendVirman">
        <s:complexType />
      </s:element>
      <s:element name="SendVirmanResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCredit">
        <s:complexType />
      </s:element>
      <s:element name="GetCreditResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateNumber">
        <s:complexType />
      </s:element>
      <s:element name="CreateNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="AddCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="GetCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="OpenAccountSoapIn">
    <wsdl:part name="parameters" element="tns:OpenAccount" />
  </wsdl:message>
  <wsdl:message name="OpenAccountSoapOut">
    <wsdl:part name="parameters" element="tns:OpenAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CloseAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CloseAccount" />
  </wsdl:message>
  <wsdl:message name="CloseAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CloseAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ListAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:ListAccounts" />
  </wsdl:message>
  <wsdl:message name="ListAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:ListAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="SendTransferSoapIn">
    <wsdl:part name="parameters" element="tns:SendTransfer" />
  </wsdl:message>
  <wsdl:message name="SendTransferSoapOut">
    <wsdl:part name="parameters" element="tns:SendTransferResponse" />
  </wsdl:message>
  <wsdl:message name="SendVirmanSoapIn">
    <wsdl:part name="parameters" element="tns:SendVirman" />
  </wsdl:message>
  <wsdl:message name="SendVirmanSoapOut">
    <wsdl:part name="parameters" element="tns:SendVirmanResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNumberSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNumber" />
  </wsdl:message>
  <wsdl:message name="CreateNumberSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="BankWebServiceSoap">
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerSoapIn" />
      <wsdl:output message="tns:AddCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerSoapIn" />
      <wsdl:output message="tns:GetCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input message="tns:UpdateCustomerSoapIn" />
      <wsdl:output message="tns:UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input message="tns:DeleteCustomerSoapIn" />
      <wsdl:output message="tns:DeleteCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenAccount">
      <wsdl:input message="tns:OpenAccountSoapIn" />
      <wsdl:output message="tns:OpenAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseAccount">
      <wsdl:input message="tns:CloseAccountSoapIn" />
      <wsdl:output message="tns:CloseAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAccounts">
      <wsdl:input message="tns:ListAccountsSoapIn" />
      <wsdl:output message="tns:ListAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTransfer">
      <wsdl:input message="tns:SendTransferSoapIn" />
      <wsdl:output message="tns:SendTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendVirman">
      <wsdl:input message="tns:SendVirmanSoapIn" />
      <wsdl:output message="tns:SendVirmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditSoapIn" />
      <wsdl:output message="tns:GetCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNumber">
      <wsdl:input message="tns:CreateNumberSoapIn" />
      <wsdl:output message="tns:CreateNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankWebServiceSoap" type="tns:BankWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenAccount">
      <soap:operation soapAction="http://tempuri.org/OpenAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAccount">
      <soap:operation soapAction="http://tempuri.org/CloseAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAccounts">
      <soap:operation soapAction="http://tempuri.org/ListAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTransfer">
      <soap:operation soapAction="http://tempuri.org/SendTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVirman">
      <soap:operation soapAction="http://tempuri.org/SendVirman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNumber">
      <soap:operation soapAction="http://tempuri.org/CreateNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankWebServiceSoap12" type="tns:BankWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://tempuri.org/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenAccount">
      <soap12:operation soapAction="http://tempuri.org/OpenAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAccount">
      <soap12:operation soapAction="http://tempuri.org/CloseAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAccounts">
      <soap12:operation soapAction="http://tempuri.org/ListAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTransfer">
      <soap12:operation soapAction="http://tempuri.org/SendTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVirman">
      <soap12:operation soapAction="http://tempuri.org/SendVirman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap12:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNumber">
      <soap12:operation soapAction="http://tempuri.org/CreateNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankWebService">
    <wsdl:port name="BankWebServiceSoap" binding="tns:BankWebServiceSoap">
      <soap:address location="http://localhost:57436/BankWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BankWebServiceSoap12" binding="tns:BankWebServiceSoap12">
      <soap12:address location="http://localhost:57436/BankWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>